# Environment files (secrets)
.env
**/.env

# Python build/dist directories
dist/*

# Docusaurus
node_modules/
documentation/build/
documentation/.docusaurus/
documentation/.cache-loader/
site/

# Python cache files
__pycache__/
**/__pycache__/*
*.py[cod]
*$py.class

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# logs
**/logs/*
*.log

# misc files
.archive/*
.test/*
*.pdf
*.csv
*.xlsx

# refactor
.refactor/

# meteologica
backend/src/meteologica/examples_from_api_docs/